body {
	background-color: white;
	color: black;

	min-height: 100vh;
	display: flex;
	flex-direction: column;

	align-items: center;

	background: radial-gradient(circle at top left, #b7e4c7, #588468);
}


footer {
	margin-top: auto;
	text-align: center;
	padding: 20px;
}


h1, p {
	text-align: center;
	max-width: 850px;
}


.nav {
	width: 100%;
	display: flex;
	justify-content: center;
}


.tabs {
	display: flex;
	gap: 20px
}